.chip {
  display: inline-block;
  margin: 0.5rem;
  border-radius: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  caret-color: transparent;
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 .5rem
}

.chip-text {
  margin: 0.3rem;
}