@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-neon-primary: #BC13FE;
  --color-neon-secondary: #FFFFFF;
}

body {
  background-color: #1e1e1e;
  color: #d7d7d7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Operator Mono, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.neon {
  text-shadow:
    0 0 102px var(--color-neon-primary),
    0 0 92px var(--color-neon-primary),
    0 0 82px var(--color-neon-primary),
    0 0 42px var(--color-neon-primary),
    0 0 21px var(--color-neon-secondary),
    0 0 10px var(--color-neon-secondary),
    0 0 7px var(--color-neon-secondary);
}